@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <div class="card" style="width: 80%;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Class Image" />
                    <div class="card-body">
                        <h5 class="card-title">Class</h5>
                        <p class="card-text">Explore various classes available for students.</p>
                        @Html.ActionLink("View Classes", "Index", "Classes", null, new { @class = "btn btn-primary", data_mdb_ripple_init = "" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <div class="card" style="width: 80%;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Subjects Image" />
                    <div class="card-body">
                        <h5 class="card-title">Subjects</h5>
                        <p class="card-text">Discover different subjects offered in the curriculum.</p>
                        @Html.ActionLink("View Subjects", "Index", "Subjects", null, new { @class = "btn btn-primary", data_mdb_ripple_init = "" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
